:root {
  --white: #ffffff;
  --blue-800: #312D64;
  --pink-700: #B52184;
  --gray-100: #F9F4FB;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input, button, textarea{
  font-family: "Mulish", sans-serif;
  font-size: 1rem;
}

.container header{
  background: var(--gray-100);
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.container header .astronaut{
  width: 22.75rem;
  height: 23.125rem;
  padding-bottom: 1.7rem;
}

.container header strong{
  color: var(--pink-700);
  font-size: 2rem;
  font-weight: 900;
}

.container header p{
  color: var(--blue-800);
  font-size: 1.25rem;
  font-weight: 600;
  padding-bottom: 2.188rem;
}

.container header .arrow{
  padding-bottom: 5.813rem;
}

