:root {
  --white: #ffffff;
  --blue-800: #312D64;
  --pink-700: #B52184;
  --gray-100: #F9F4FB;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input, button, textarea{
  font-family: "Mulish", sans-serif;
  font-size: 1rem;
}

.container header{
  background: var(--gray-100);
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.container header .astronaut{
  width: 22.75rem;
  height: 23.125rem;
  margin-bottom: 1.7rem;

  --startY: -100%;
  animation-name: animation-start;
  animation-duration: 1s;
  
}

.container header strong{
  color: var(--pink-700);
  font-size: 2rem;
  font-weight: 900;
}

.container header p{
  color: var(--blue-800);
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 2.188rem;
}

.container header .arrow{
  margin-bottom: 5.813rem;
}

main {
  background-color: var(--blue-800);
  padding-top: 3.125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .card{
  background: var(--white);
  width: 22rem;
  height: 100%;
  border-radius: 16px;
  padding: 1.625rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 3.125rem;

  animation-name: animation-leftCenter-rightCenter;
  animation-duration: 1s;
}

main .card .planet{
  width: 5rem;
  height: 5rem;
  margin-bottom: 2.069rem;
}

main .card strong{
  font-size: 1.826rem;
  color: var(--pink-700);
  font-weight: 900;
  margin-bottom: 1.241rem;
}

main .card p{
  font-size: 1rem;
  color: var(--blue-800);
  font-weight: 400;
}

.input-wrapper{
  background: var(--gray-100);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-wrapper form{
  width: 26.875rem;
  height: 100%;
  padding: 4.438rem 2.438rem;
}

.input-wrapper form .wrapper{
  margin-top: 2.688rem;
}

.input-wrapper form strong{
  color: var(--pink-700);
  font-size: 2rem;
  font-weight: 900;        
}

.input-wrapper form .wrapper .icon{
  position: absolute;
  z-index: 2;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.75rem 0.25rem 0.75rem 0.875rem;
}

.input-wrapper form .wrapper label{
  position: absolute;
  z-index: -1;
}

.input-wrapper form .wrapper input, textarea{
  width: 21.75rem;
  color: var(--blue-800);
  border: 0.094rem solid var(--blue-800);
  border-radius: 16px;
  padding: 1rem;
  margin-bottom: 1.5rem;
  position: relative;
  z-index: 1;
}

.input-wrapper form .wrapper input{
  padding-left: 3.125rem;
}

.input-wrapper form button{
  display: block;
  width: 9.500rem;
  background: var(--blue-800);
  color: var(--white);
  padding: 0.656rem 1rem;
  border-radius: 16px;
  border: none;
  font-size: 0.875rem;
}

footer{
  background: var(--blue-800);
  color: var(--white);
  display: flex;
  justify-content: center;
  padding: 2rem;
}

footer span{
  --startY: 100%;
  animation-name: animation-start;
  animation-duration: 1s;
}

@keyframes animation-start {
  from {
      transform: translateY(var(--startY));
  }
}

@keyframes animation-leftCenter-rightCenter {
  from {
      transform: translateX(var(--centerX));
  }
}
